/*----------------------------------------
|   Eigenschaften für alle Hauptseiten   |
----------------------------------------*/

/* Nutze den ganzen Bildschirm */
body {
  margin: 0px;
  margin-bottom: 40px;
}

/* Informationsbereich */
#current-site {
  margin: 5px;
  padding-left: 6vw;
  padding-right: 6vw;
}

/* Info-Bereich Header */
#current-site h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* "Hero"-Banner Text Schatten */
.hero-body {
  text-shadow: 2px 2px 4px black;
}

/* Skaliere das Hintergrundbild des "Hero"-Banners auf Desktop-Größe */
@media screen and (min-width: 1200px) {
  .main-hero {
    background-size: 100vw;
  }
}

/* Skaliere das Hintergrundbild des "Hero"-Banners auf Tablet-Größe */
@media screen and (min-width: 500px) and (max-width: 1200px) {
  .main-hero {
    background-size: 160vw;
  }
}

/* Skaliere das Hintergrundbild des "Hero"-Banners auf Mobil-Größe */
@media screen and (max-width: 240px) {
  .main-hero {
    background-size: 160vw;
  }
}

/* >_Crypton Logo-Farbe */
.white {
  filter: invert(100%);
}
